<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yyxnb.module_joke">

    <application>
        <activity android:name="com.yyxnb.module_joke.ui.JokeActivity"></activity>
    </application>

</manifest>