<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yyxnb.module_community">

    <application>
        <activity android:name=".CommunityActivity"></activity>
        <activity
            android:name="com.yyxnb.arch.ContainerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/DayTheme"
            tools:replace="android:theme" />
    </application>

</manifest>