<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yyxnb.module_music">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <activity android:name=".ui.MusicActivity"></activity>
        <activity
            android:name=".ui.MusicPlayerActivity"
            android:enabled="true"
            android:exported="false"
            android:launchMode="singleTask" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>