<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yyxnb.what.core">

    <application>
        <!-- 使用ContentProvider初始化三方库 -->
        <provider
            android:name="com.yyxnb.what.core.CoreInitializer"
            android:authorities="${applicationId}.CoreInitializer"
            android:exported="false"
            android:multiprocess="true" />
    </application>

</manifest>