<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yyxnb.util_service">

    <application>
        <service android:name=".BaseService" />
<!--        <service android:name=".BaseIntentService" />-->
    </application>

</manifest>