<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yyxnb.common_base">

    <application>

        <activity
            android:name="com.yyxnb.common_base.base.ContainerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="盛装Fragment的一个容器(代理)Activity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />

    </application>

</manifest>
