<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yyxnb.module_wanandroid">

    <application>
        <activity android:name=".ui.WanWebActivity"></activity>
        <activity android:name=".ui.WanActivity"></activity>
    </application>

</manifest>