<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yyxnb.lib_common">

    <application>
        <!-- 使用ContentProvider初始化三方库 -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            android:multiprocess="true"
            tools:node="merge">

            <meta-data
                android:name="com.yyxnb.lib_common.WidgetInitializer"
                android:value="@string/androidx_startup" />

        </provider>

    </application>

</manifest>
